/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}
*/

.profile-picture { border-radius:100px; margin-right:10px; display:inline-block; float:left; width:40px; height:40px;  background-size:cover }
.interveniente-picture { border-radius:100px; margin:10px; margin-left:0px; display:inline-block; float:left; width:40px; height:40px; background-size:cover }
.app_reuniao_id { display:none; }

.profile-no-photo { height:180px; background:url(img/no-photo.gif) center no-repeat; background-size:cover }
.profile-no-photo-small { height:120px; background:url(https://scontent-a-mad.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1972463_10203516700055306_16405645399439732_n.jpg?oh=3e121a16edc4c0ab8fba917251ed8891&oe=556B1D57) center no-repeat; background-size:cover }